header
  nav.navbar.navbar-expand-md.navbar-light
    .container-nav
      button#menu-toggle.menu-btn.navbar-toggler.d-lg-none(type='button', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span
          i.fa.fa-bars(aria-hidden='true')
      a.navbar-brand(href='/')
        .logo
          h1(class={"white": section === 'home'})
            | Sell it 
            span.market-logo
              h1 MARKET
      .div
        button.filter-btn#filterBtn(class={"hide": section !== 'products-site'})
          span
            i.fa.fa-filter(aria-hidden='true')
    .nav-desktop.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.nav-items
        li.nav-item
          a.nav-link(href='/', class={"white": section === 'home'})
            | Home 
        li.nav-item
          a.nav-link(href='/products',class={"white": section === 'home'})
            | Buy
        if (user)
          li.nav-item
            a.nav-link(href='/add-product', class={"white": section === 'home'})
              | Sell 
      if (!user)
        p
          a(href='/login', class={"white": idSection === 'home'}) Login
    if (user)
      .btn-group
        .profile-nav-bar
          .profile-photo-navbar
            a(href='/profile')
              img(src=user.avatarUrl, alt=user.avatarUrl)
          button#dropdownMenu2.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.sr-only Toggle Dropdown
          .dropdown-menu(aria-labelledby='dropdownMenu2')
            a.dropdown-item(href='/profile') My account
            a.dropdown-item(href='/logout') Exit
  #wrapper
    #sidebar-wrapper
      ul.sidebar-nav
       if (user && section != 'profile')
        li
          .profile-side-bar
            .profile-photo
              img(src=user.avatarUrl, alt=user.avatarUrl)
            .action-profile
              p
                a(href=`/profile/${user._id}`) My account
        li
          a(href='/edit-profile') Edit Account
        li
          a(href='/products') Buy
        li
          a(href='/add-product') Sell
        li
          a(href='/logout') Exit
       if (user && section == 'profile')
        li
          .profile-side-bar
            .profile-photo
              img(src=user.avatarUrl, alt=user.avatarUrl)
            .action-profile
              p
                a(href=`/profile/${user._id}`) My account
        li 
          a(href='/my-wishes') My wishes
        li
          a(href='/edit-profile') Edit Account
        li
          a(href='/products') Buy
        li
          a(href='/add-product') Sell
        li
          a(href='/logout') Exit
       if (!user)
        li
          .profile-side-bar
            .profile-photo
              img(src='http://via.placeholder.com/50x50')
            .action-profile
              p
                a(href='/login') Login
        li
          a(href='/products') Buy
        


