extends ../layout

block content
  .detail
    .container
      .row
        .col-12.col-lg-10.lg-auto.product-detail
          .image-product-detail-box
          .content-detail
            .product-content-detail
              h4=product.price + ' €'
              h6=product.title
              p=product.description
            .user-location-detail-product
              p
                i.fa.fa-map-marker(aria-hidden='true')
                |  product.createdBy.city
              p=`Created: ${moment(product.createdAt).format('DD-MM-YYYY')}`
            .user-detail
            .user-card
              .img-user-card
                img.img-circle(src='/img/trolface.jpg')
              .user-info
                p=product.createdBy.username
            .chat-product-detail-btn
              a(href=`/chat/${product.createdBy._id}`) Chat




          
      