extends ../layout

block content
  .products-page
    .col-12
      main.gallery-products
        // Main layout
        .row
          .container.box-gallery
            .sidebar-products
              form#filter-products-form(action='')
                .search--products
                  p What are you looking for?
                  input.search-products(type='text', name='keyword', placeholder='')
                .list-group
                  p Categories
                  select(name='category', id='')
                    if (categories) 
                      each category in categories
                        option(value=category)=category
                .price-range_selector
                  p How much?
                  .wrapper-price
                    fieldset.filter-price
                      .price-wrap
                        span.price-title Price:
                        .price-wrap-1
                          input.uno#uno
                          label(for='one') €
                        .price-wrap_line -
                        .price-wrap-2
                          input.dos#dos
                          label(for='two') €
                      .price-field
                        input#lower(name='min', type='range', min='0', max='10000', value='500')
                        input#upper(name='max',type='range', min='0', max='10000', value='5000')
                input(type='submit', value='Search')
                p Order by
                select#order-select(name='sortBy')
                  option(value="price") Price
                  option(value="distance") Distance
            .main-column-products
              // First row
              .row
                .col-lg-12.slider
                  .divider-new
                    h2.h2-responsive Closest products to your location
                  // Carousel Wrapper
                  #carousel-example-1z.carousel.slide.carousel-fade(data-ride='carousel')
                    // Indicators
                    ol.carousel-indicators
                      li.active(data-target='#carousel-example-1z', data-slide-to='0')
                      li(data-target='#carousel-example-1z', data-slide-to='1')
                      li(data-target='#carousel-example-1z', data-slide-to='2')
                    // /.Indicators
                    // Slides
                    .carousel-inner(role='listbox')
                      // First slide
                      .carousel-item.active
                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Slides/img%20(107).jpg', alt='First slide')
                        .carousel-caption
                          h4 New products
                          br
                      // /First slide
                      // Second slide
                      .carousel-item
                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Slides/img%20(109).jpg', alt='Second slide')
                        .carousel-caption
                          h4 Specials
                          br
                      // /Second slide
                      // Third slide
                      .carousel-item
                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Slides/img%20(36).jpg', alt='Third slide')
                        .carousel-caption
                          h4 Another 
                          br
                      // /Third slide
                    // /.Slides
                    // Controls
                    a.carousel-control-prev(href='#carousel-example-1z', role='button', data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carousel-example-1z', role='button', data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
                    // /.Controls
                  // /.Carousel Wrapper
                // /.First row
                br
                hr.extra-margins
                .gallery-products-box
                  .gallery
                    // #begin card
                    if (productsList)
                      for product, i in productsList
                        .card-gallery
                          a(href=`/product/${product._id}`)
                            img.card-img-top(src='http://lorempixel.com/400/200')
                          .card-body
                            p=product.price + ' €'
                            p=product.title
                            p.card-text=product.description            
                            .user-card
                              .img-user-card
                                img.img-circle(src='http://lorempixel.com/50/50')
                              .user-info
                                p=product.createdBy.username
                                p=product.createdBy.products.length + ' products'