extends ../layout

block content
  .products-page
    .col-12
      main.gallery-products
        .box-gallery
          .sidebar-products
            form#filter-products-form(action='')
                div 
                  p What are you looking for?
                  input.search-products(type='text', name='keyword', placeholder='')
                div 
                  p Categories
                  select(name='category', id='')
                    option(value='')
                    if (results.categories) 
                      each category in results.categories
                        option(value=category.title)=category.title
                div
                  .div-range-price-inputs
                    .range
                      label From:
                      input.from(type='number', name='min', min='0', value='')
                    .range
                      label To:
                      input(type='number', name='max', min='0', value='')
                div
                  p Sort by
                  select#order-select(name='sortBy')
                    option(value="") 
                    option(value='price') Price
                    option(value='createdAt') Date

                div
                  input(type='submit', value='Search')
          .main-column-products
            .gallery
              // #begin card
              if (results.products)
                for product, i in results.products
                  .card-gallery
                    a(href=`/product/${product._id}`)
                      .div.card-img-top(style=`background-image: url(${product.imgUrl});`)
                    .card-body
                      p.city=product.createdBy.city || ''
                      .title-place
                        p=product.title
                      p=product.price + ' €'           
                      .user-card
                        .img-user-card
                          img.img-circle(src=product.createdBy.avatarUrl)
                        .user-info
                          p=product.createdBy.username
                          p=product.createdBy.products.length + ' products'
                          p=`Created: ${moment(product.createdAt).format('DD-MM-YYYY')}`