extends ../layout

block content
  .profile-page
    .container
      .row.box-profile
        .left-box
          figure 
            img.profile-photo(alt='profile-photo', src=user.avatarUrl)
          .title
             p=user.username || user.email
             i.fa.fa-star(aria-hidden='true')
             i.fa.fa-star(aria-hidden='true')
             i.fa.fa-star(aria-hidden='true')
             i.fa.fa-star(aria-hidden='true')
             i.fa.fa-star(aria-hidden='true')
          .statistics-mobile
            .statistics-values-mobile
              div
                p=user.products.length || 0
                p On sale
              div
                p 3
                p Marks
              div
                p 3
                p Favourites
          .sidebar
            ul
              li
                a(href='/chat') Messages
              li 
                a(href='/edit-profile') Edit
        .right-box
          .gallery-products
            h5 Your articles
            .gallery
              if (user.products)
                for product, i in user.products
                  .card-gallery
                    button#btnEditOk(data-id=product._id) Ok
                    button#btnDeleteArticle(data-id=product._id) Delete
                    button#btnEdit.btn.btn-warning.pull-right(data-test=product._id)
                      i.fa.fa-pencil
                    a(href='/profile')
                      img.card-img-top(src=product.imgUrl)
                    .card-body
                      p=product.price + ' €'
                      .input-div
                        p Edit price
                        input.priceEdited(type='number')
                      p=product.title
                      .input-div
                        p Edit title
                        input.titleEdited(type='text')
                      p.card-text=product.description    
                      .input-div
                        p Edit description
                        input.descriptionEdited(type='text')        
            .btn-add
              a(href='/add-product')
                i.fa.fa-plus(aria-hidden='true')
            input(type='file' id="img-id")
