extends ../layout

block content
  .profile-page
    .box-profile
      .left-box
        figure
          img.profile-photo(alt='profile-photo', src=user.avatarUrl)
        .title
            p=user.username || user.email
            p=user.city
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
        .statistics-mobile
          .statistics-values-mobile
            div
              p=user.products.length || 0
              p On sale
            div
              p=user.products.length || 0
              p Sold
            div
              p=user.products.length || 0
              p Favourites
        .sidebar
          ul
            li
              a(href='/chat') Messages
            li 
              a(href='/edit-profile') Edit
      .right-box
        .gallery-products
          p MY PRODUCTS
          .gallery
            if (user.products)
              for product, i in user.products
                .card-gallery.profile-card
                  button#btnEditOk(data-id=product._id) Ok
                  button#btnDeleteArticle(data-id=product._id) Delete
                  button#btnEdit.btn.btn-warning.pull-right(data-test=product._id)
                    i.fa.fa-pencil
                  a(href='/profile')
                    .div.card-img-top(style=`background-image: url(${product.imgUrl});`)
                  .card-body.profile-card-body
                    p=product.price + ' €'
                    .input-div
                      p Edit price
                      input.priceEdited(type='number', value=product.price)
                    p=product.title
                    .input-div
                      p Edit title
                      input.titleEdited(type='text',  value=product.description)
                    p.card-text=product.description    
                    .input-div
                      p Edit description
                      input.descriptionEdited(type='text', value=product.description)    
          .btn-add
            a(href='/add-product')
              i.fa.fa-plus(aria-hidden='true')
          input(type='file' id="img-id")
