extends ../layout

block content
  .profile-page
    .container
      .row.profil
        .card.profile-card.hovercard
          .cardheader
            #map
          .avatar
            label(for='img-id')
              img(alt='', src='http://lorempixel.com/100/100/people/9/')
          .info
            .title
              a(target='_blank', href='', contenteditable) Nombre de usuario
              span#edit-span
                i.fa.fa-pencil(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
            i.fa.fa-star(aria-hidden='true')
          .bottom
            div
              p 3
              p En venta
            div
              p 3
              p Vendido
            div
              p 3
              p Valoraciones
            div
              p 3
              p Favoritos
      .row.gallery-profile
        .col-12
          // #begin gallery
          .gallery-products
            h2 Your articles
            .gallery
              for product, i in productsList
                .card-gallery
                  button#btnEditOk(data-id=product._id) Ok
                  button#btnDeleteArticle(data-id=product._id) Delete
                  button#btnEdit.btn.btn-warning.pull-right(data-test=product._id)
                    i.fa.fa-pencil
                  a(href='/product-detail')
                    img.card-img-top(src='http://lorempixel.com/400/200')
                  .card-body
                    p=product.price
                    .input-div
                      p Edit price
                      input.priceEdited(type='text')
                    p=product.title
                    .input-div
                      p Edit title
                      input.titleEdited(type='text')
                    p.card-text=product.description    
                    .input-div
                      p Edit description
                      input.descriptionEdited(type='text')        
                  a(href='/user-id/profile')
                    .user-card
                      .img-user-card
                        img.img-circle(src='http://lorempixel.com/50/50')
                      .user-info
                        p User
                        p 15 products
          .btn-add
            a(href='/add-product')
              i.fa.fa-plus(aria-hidden='true')
          input(type='file' id="img-id")
